<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Analisar Participante</title>
</head>
<body>

<!--  AMOSTRA DE DADOS DO PARTICIPANTE PARA ANÁLISE -->
<container>
    <div>
        <div>
            <h2>Analisar Participante </h2>
        </div>

        <div>
            <table border="1">
                <tr>
                    <th>ID                  </th>
                    <th>CÓDIGO              </th>
                    <th>NOME                </th>
                    <th>SOBRENOME           </th>
                    <th>DATA DE NASCIMENTO  </th>
                    <th>SEXO                </th>
                    <th>IMAGEM              </th>
                </tr>
                <tr>
                    <th>{{participante.idParticipante  }}</th>
                    <th>{{participante.codigo          }}</th>
                    <th>{{participante.nome            }}</th>
                    <th>{{participante.sobrenome       }}</th>
                    <th>{{participante.dataNascimento  }}</th>
                    <th>{{participante.sexo            }}</th>
                    <th>{{participante.imagem          }}</th>
                </tr>
            </table>
        </div>

        <div>
            <!-- BOTÃO VOLTAR -->
        </div>
    </div>
</container>
</body>
</html>