<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Participantes</title>
</head>
<body>
    <container>
        <div>
            <h2> Participantes </h2>

            <div>
                <!--  FORM ACTION BARRA PESQUISA -->
            </div>

            <br>

            <div>
                <table border="1">
                    <tr>
                        <th>ID                  </th>
                        <th>CÓDIGO              </th>
                        <th>NOME                </th>
                        <th>SOBRENOME           </th>
                        <th>DATA DE NASCIMENTO  </th>
                        <th>SEXO                </th>
                        <th>IMAGEM              </th>
                    </tr>

                {% for participante in participantes %}

                    <tr>
                        <th>{{participante.idParticipante  }}</th>
                        <th>{{participante.codigo          }}</th>
                        <th>{{participante.nome            }}</th>
                        <th>{{participante.sobrenome       }}</th>
                        <th>{{participante.dataNascimento  }}</th>
                        <th>{{participante.sexo            }}</th>
                        <th>{{participante.imagem          }}</th>

                        <th>
                            <a href="{% url 'editar_participante' participante.idParticipante %}">  Editar</a>
                            <a href="{% url 'deletar_participante' participante.idParticipante %}" onclick="return confirm('Deseja realmente deletar este participante?')"> Deletar</a>
                        </th>
                {% endfor %}
                    </tr>
                </table>
            </div>

            <br>

                        <!-- INSERCAO DE DADOS -->
            <h3>Realizar Cadastro</h3>
            <div>
                <form action="{% url 'salvar_participante' %}" method="POST">
                    {% csrf_token %}
                    codigo              <input type="text"  name="codigo"         required> <br>
                    nome                <input type="text"  name="nome"           required> <br>
                    sobrenome           <input type="text"  name="sobrenome"      required> <br>
                    dataNascimento      <input type="date"  name="dataNascimento" required> <br>
                    sexo                <input type="text"  name="sexo"           required> <br>
                    imagem              <input type="file"  name="imagem"         required> <br><br>

                    <button type="submit">Cadastrar</button>
                </form>
            </div>

        </div>
    </container>
</body>
</html>